<div class="podcasts-grid">
	<div class="row filter">
		<div class="col-md-5">
			<button type="button" class="btn btn-default {{#order ==='last-updated'}}btn-primary{{/}}" on-click="changeOrder:{{'last-updated'}}">Last updated</button>
			<button type="button" class="btn btn-default {{#order ==='favorite'}}btn-primary{{/}}" on-click="changeOrder:{{'favorite'}}">Favorites</button>
		</div>
		<div class="col-md-5 col-md-offset-2">
			<span class="badge">{{podcasts.length}}</span>
			<input id="filter" type="text" class="form-control input-lg" autoFocus 
				placeholder="Filter podcasts..." on-input="filterPodcasts" value="{{filter}}">
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="row podcasts">
				{{#podcasts:i}}
					<PodcastSummary podcast={{.}} />
				{{/podcasts}}
			</div>
		</div>
	</div>

</div>